/*
    index.css

    CSS styling for the index page.

    By Nicholas Verrochi
*/

body {
    background-color: slategray;
    font-family: 'Courier New';
}

.centered {
    margin: auto;
    margin-top: 1%;
    text-align: left;
}

.text {
    width: 66%;
    margin: auto;
}

#projects {
    margin-top: 3%;
}
